@font-face {
    font-family: "Fira Code";
    src: url('https://disuye.com/fonts/FiraCode-VariableFont_wght.woff2') format('woff2-variations'),
     	 url('https://disuye.com/fonts/FiraCode-VariableFont_wght.ttf') format('truetype-variations');
	font-weight: 100 200 300 400 500 600 700 800 900;
    font-style: normal;
    font-display: swap;
}
body {
	font-family: "Fira Code", monospace; 
	color: black !important;
	font-size: 1.6rem; 
	font-style: normal;
	font-weight: 100;
	line-height: 1.8rem;
	text-rendering: geometricPrecision;
	text-align: center; 
	overflow-x: hidden;
	overflow-y: auto;
	}
body, #background {
	background-color: white;
	width: 100vw;
	height: 100vh;
	margin: 0; 
	padding: 0; 
}
#background {
	display: block;
	position: fixed;
	top: 0; left: 0;
	z-index: -1;
	background: url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQYV2O8ffu2LwMDAwMjiAABAC1zAuFbE/raAAAAAElFTkSuQmCC
		);
	box-shadow: 0px 0px 80px rgba(0,0,0,0.2) inset;
	}
* {
	padding: 0;
	margin: 0;
	text-align: center;
	}
#yo {
	display: block;
	z-index: 100;
	position: fixed;
	bottom:0; right: 0;
	width: 100vw;
	padding: 0.0rem 0;
	font-size: 0.9rem;
	background: white;
	margin: auto;
	opacity: 0.9;
	}
#yo a {
	text-decoration: none;
	border: none !important;
}
#icon {
	height: 140px;
	width: 140px;
	margin: auto;
	background-image: url('./disuye.png');
	background-color: transparent;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1.0;
	border-radius: 50%;
	box-shadow: 0px 0px 80px rgba(0,0,0,0.2);
	}	
#icon-ffab {
	height: 150px;
	width: 150px;
	margin: auto;
	margin-bottom: -10px; /* AppIcon has padding in the PNG */
	background-image: url('./ffab/ffab.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1.0;
	border-radius: 50%;
	}
#words {
	display: block; 
	position: absolute; 
	top: 33%; left: 50%;
	transform: translate(-50%,-33%) rotateZ(-4deg);
	cursor: default;
	background-color: transparent;
	margin-top: 12.0rem;
	width: 90%;
	max-width: 600px;
	padding-bottom: 4.0rem;
	}
#ffab {
	display: block; 
	position: absolute; 
	top: 0; left: 50%;
	transform: translate(-50%,0);
	cursor: default;
	background-color: transparent;
	margin-top: 12.0rem;
	width: 85%;
	max-width: 600px;
	padding-bottom: 4.0rem;
	}
.padding {
	padding: 1.0rem;
}	
#icon,
#icon-ffab {
	margin-top: -140px;
	}
#icon-ffab-small {
	margin: 0;
	height: 64px;
	width: 64px;
	padding-top: 16px;
}
.smalltext {
	font-size: 0.9rem;
}	
a:hover {
		border-radius: 5%;
	}	
#words a, a {
	display: inline-block;
	text-decoration: none; 
	border-bottom: 0.05rem solid black;
	padding-bottom: 0.0rem;
	color: black;
	background-color: transparent;
	}		
.fidget:hover {
	opacity: 0.8;
	border-bottom: 0.05rem solid transparent;
	position: relative;
	-webkit-transform: scale(0.9, 2.0); /* Safari Chrome */
		-moz-transform: scale(0.9, 2.0); /* Firefox */
		-ms-transform: scale(0.9, 2.0); /* IE 9 */
			-o-transform: scale(0.9, 2.0); /* Opera */
			transform: scale(0.9, 2.0);
	-webkit-animation: fidget 0.05s infinite; /* Safari 4-8 */
			animation: fidget 0.05s infinite;
	}
#info {
	font-size: 1.2rem;
	line-height: 1.8rem;
	padding: 1.0rem 0 1.0rem 0;
	margin: 0; 
	}
#info p {
	text-align: left;
	word-break: keep-all;
	padding: 0.5rem 0 0.5rem 0;
	}
#ffab img {
	width: 64px; height: 64px;
	}
#ffab {
	padding: 1.0rem 0 1.0rem 0;
	border: none !important;
	}
.downloads {
	display: block;
	width: 100%;
	margin: auto;
	text-align: center !important;
	padding-bottom: 2.0rem;
	}	
.downloads a {
	display: inline-block;
	font-size: 1.2rem;
	text-decoration: none;
	border: none !important;
	display: inline-block !important;
	padding: 0.5rem 0;
}
#readme *:not([class*="carousel"],
 [id*="carousel"],
  [class*="screen"],
   [class*="lb"],
    [class*="cz"],
	[class*="downloads"]) {
		display: block;
		margin: auto;
		text-align: left;
	}
#readme img:not([class*="carousel"], [id*="carousel"], [class*="screen"]) {
	width: 80%;
	height: auto;	
	}
#readme code {
	display: inline-block !important;
	font-size: 0.87rem;
	color: #ff5500;
	background-color: rgba(42, 42, 42, 0.07);
	padding: 0.1rem 0.5rem;
	}
#readme .two-row div {
	display: inline-block;
	width: calc(50%);
	margin: 0;
	margin-right: -0.5rem; 
	padding: 0.5rem 0 !important;
	text-align: center !important;
	}
#readme .two-row div:nth-child(4n+1),
#readme .two-row div:nth-child(4n+2) {
	background-color: rgba(128,128,128,0.07);
	}
#readme .two-row div:nth-child(2n+1) {
	font-weight: 700;
	}
#readme .two-row div:nth-child(2n+2) {
	font-size: 0.8rem;
	}
#readme {
	font-size: 1.0rem;
	margin: 0;
	padding: 0;
	}
#readme h1,
#readme h2,
#readme h3,
#readme p,
#readme ul {
	padding-top: 1.0rem;
	padding-bottom: 2.0em;
	}
#readme ul, 
#readme li {
	font-size: 0.8rem;
	}
#readme li::before {
	content: "\29BF  ";	
	}
#readme .imgcaption {
	display: block;
	width: calc(100% - 4.0rem);
	padding: 2.0rem;
	background-color: rgba(128,128,128,0.07);
	text-align: center !important;
	font-size: 0.86rem;
	font-style: italic;
	margin: 2.0rem 0;
	border-radius: 2.0rem;
	}
#readme h1, #readme h2 {
	width: calc(100% - 4.0rem);
	font-size: 2.2rem;
	font-weight: 400;
	background-color: rgb(42, 42, 42, 0.2);
	border-radius: 0.5rem;
	padding: 2.0rem;
	margin: 2.0rem 0;
	text-align: center;
	}
#readme h2 {
	font-size: 1.6rem !important;
	font-weight: 500;
	margin-top: 5.0rem !important;
}
#readme h3 {
	font-size: 1.2rem !important;
	font-weight: 500;
	padding-bottom: 0;
	border-bottom: 1px solid black;
	}
#readme .sections a {
	display: block;
	font-size: 1.3.rem;
	border: none;
	text-align: center;
}
#readme .sections a:hover {
	background-color: rgba(0,0,0,0.2);
}
.sections {
	text-align: center !important;
	padding: 1.0rem;
	padding-bottom: 3.0rem;
}
#readme .carousel-wrap {
	padding-bottom: 1.0rem;
}
@-webkit-keyframes fidget { /* Safari 4.0 - 8.0 */
	0%   {top: -1px;}
	25%  {top: 5px;}
	75%  {top: -2px}
	82%  {top: 10px;}
	100% {top: -10px;}
	}
@keyframes fidget {
	0%   {top: -1px;}
	25%  {top: 5px;}
	75%  {top: -2px}
	82%  {top: 10px;}
	100% {top: -10px;}
	}

/* GLITCH */

.glitch:hover {
  	display: inline-block;
  	position: relative;
  	margin: auto;
  	background: var(--glitch-bg-color);
	word-break: keep-all;
	white-space: nowrap;
    word-break: keep-all;
    overflow-wrap: normal;
    hyphens: none;
	}

.glitch:hover::before, 
.glitch:hover::after {
  	animation-iteration-count: infinite;
  	animation-timing-function: steps(2);
  	animation-direction: alternate-reverse;
  	overflow: hidden;
  	position: absolute;
  	top: 0;
  	clip: rect(0, 9999px, 0, 0);
  	content: attr(data-text);
  	opacity: 0.5;
	}

.glitch:hover::after {
  	animation-name: glitch-animation;
  	animation-duration: 1.9s;
  	left: 2px;
  	background: var(--glitch-bg-color);
  	text-shadow: rgb(255, 0, 115) 0 0 2px;
	}

.glitch:hover::before {
  	animation-name: glitch-animation-2;
  	animation-duration: 1.5s;
  	left: -2px;
  	background: var(--glitch-bg-color);
    text-shadow: rgb(45, 255, 255) -2px 0 10px;
	}
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
	html {
		font-size: 100% !important;
	}
	body {
		background: url(
			data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQYV2O8ffu2LwMDAwMjiAABAC1zAuFbE/raAAAAAElFTkSuQmCC
		);
	}
	.glitch {
  	display: inline-block;
  	position: relative;
  	margin: auto;
  	background: var(--glitch-bg-color);
	}
	.glitch::before, 
	.glitch::after {
		animation-iteration-count: infinite;
		animation-timing-function: steps(2);
		animation-direction: alternate-reverse;
		overflow: hidden;
		position: absolute;
		top: 0;
		clip: rect(0, 9999px, 0, 0);
		content: attr(data-text);
		opacity: 0.5;
	}
	.glitch::after {
		animation-name: glitch-animation;
		animation-duration: 1.9s;
		left: 2px;
		background: var(--glitch-bg-color);
		text-shadow: rgb(255, 0, 115) 0 0 2px;
		}

	.glitch::before {
		animation-name: glitch-animation-2;
		animation-duration: 1.5s;
		left: -2px;
		background: var(--glitch-bg-color);
		text-shadow: rgb(45, 255, 255) -2px 0 10px;
		}
	.words a {
		border-bottom: 0;
		position: relative;
		-webkit-transform: scale(0.9, 2.0); /* Safari Chrome */
			-moz-transform: scale(0.9, 2.0); /* Firefox */
			-ms-transform: scale(0.9, 2.0); /* IE 9 */
				-o-transform: scale(0.9, 2.0); /* Opera */
				transform: scale(0.9, 2.0);
		-webkit-animation: fidget 0.05s infinite; /* Safari 4-8 */
				animation: fidget 0.05s infinite;
		}
	#background {
		display: none;
	}	
}



@keyframes glitch-animation {
	0% {clip: rect(42px, 9999px, 44px, 0);}
	5% {clip: rect(12px, 9999px, 59px, 0);}
	10% {clip: rect(48px, 9999px, 29px, 0);}
	15% {clip: rect(42px, 9999px, 73px, 0);}
	20% {clip: rect(63px, 9999px, var(--h1-font-size), 0);}
	25% {clip: rect(34px, 9999px, 55px, 0);}
	30% {clip: rect(86px, 9999px, 73px, 0);}
	35% {clip: rect(20px, 9999px, var(--h1-font-size), 0);}
	40% {clip: rect(26px, 9999px, 60px, 0);}
	45% {clip: rect(25px, 9999px, 66px, 0);}
	50% {clip: rect(57px, 9999px, 98px, 0);}
	55% {clip: rect(5px, 9999px, 46px, 0);}
	60% {clip: rect(82px, 9999px, 31px, 0);}
	65% {clip: rect(54px, 9999px, var(--h1-font-size), 0);}
	70% {clip: rect(28px, 9999px, 99px, 0);}
	75% {clip: rect(45px, 9999px, 69px, 0);}
	80% {clip: rect(23px, 9999px, 85px, 0);}
	85% {clip: rect(54px, 9999px, 84px, 0);}
	90% {clip: rect(45px, 9999px, 47px, 0);}
	95% {clip: rect(37px, 9999px, var(--h1-font-size), 0);}
	100% {clip: rect(4px, 9999px, 91px, 0);}
	}

@keyframes glitch-animation-2 {
	0% {clip: rect(65px, 9999px, 100px, 0);}
	5% {clip: rect(52px, 9999px, 74px, 0);}
	10% {clip: rect(79px, 9999px, 85px, 0);}
	15% {clip: rect(75px, 9999px, var(--h1-font-size), 0);}
	20% {clip: rect(67px, 9999px, 61px, 0);}
	25% {clip: rect(14px, 9999px, 79px, 0);}
	30% {clip: rect(1px, 9999px, 66px, 0);}
	35% {clip: rect(86px, 9999px, 30px, 0);}
	40% {clip: rect(23px, 9999px, 98px, 0);}
	45% {clip: rect(85px, 9999px, 72px, 0);}
	50% {clip: rect(71px, 9999px, 75px, 0);}
	55% {clip: rect(2px, 9999px, 48px, 0);}
	60% {clip: rect(30px, 9999px, var(--h1-font-size), 0);}
	65% {clip: rect(59px, 9999px, 50px, 0);}
	70% {clip: rect(41px, 9999px, 62px, 0);}
	75% {clip: rect(2px, 9999px, 82px, 0);}
	80% {clip: rect(47px, 9999px, 73px, 0);}
	85% {clip: rect(3px, 9999px, var(--h1-font-size), 0);}
	90% {clip: rect(26px, 9999px, 55px, 0);}
	95% {clip: rect(42px, 9999px, 97px, 0);}
	100% {clip: rect(38px, 9999px, 49px, 0);}	
	}

/* ----- END OF FILE ----- */